---
const { title, description } = Astro.props;

import { name } from "@/content/data/about.json";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{`${name} | ${title}`}</title>
  <meta name="description" content={`${description}`} />
  <link rel="icon" href="/favicon.jpg" />
  <link rel="sitemap" href="/sitemap-0.xml" />
</head>
